.about {
  .about-img {
    overflow:hidden;

    &:hover img {
      transform: scale3D(1.1,1.1,1);
    }

    img {
      @include transition (all, 0.5s, ease-out);
    }
  }

  .intro-title {
    margin-top: 0;
    font-size: 32px;

    @include desktop {
      margin: 24px 0;
    }
  }

  .intro-text {
    a {
      width: 264px;
      &:first-of-type {
        margin-right: 12px;
      }
      @include tablet {
        width: 100%;
        &:first-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.about-feature {
  .title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 12px;
    font-size: 32px;
  }

  .about-list-items {
    .item-wrapper {
      display: flex;
      margin: 24px 0;
      border: 1px solid $border-color;
      border-radius: 4px;
      box-shadow: 0px 4px 10px -4px rgba(0, 30, 43, 0.3);
      padding: 24px;

      @include mobile {
        flex-direction: column;
      }

      img {
        max-height: 160px;
        max-width: 162px;
        width: 100%;
        height: auto;

        @include mobile {
          margin: 0 auto;
        }
      }

      .item-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 32px;

        p {
          color: $text-dark;
        }

        h4 {
          margin-top: 0;
          font-size: 32px;
          font-weight: bold;
        }

        .btn {
          width: fit-content;
          white-space: normal;
        }

        @include mobile {
          text-align: center;
          padding: 0;

          h4 {
            margin-top: 24px;
          }

          p {
            margin: 24px 0;
          }

          .btn {
            margin: 0 auto;
          }
        }
      }
    }
  }

}