.upcoming-events-wrapper {

  .upcoming-events-title {
    margin: 0 0 18px;
    font-size: 32px;
    text-align: center;
  }

  .upcoming-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .upcoming-events-header {
      margin: 0 0 20px;
      text-transform: uppercase;
      border-bottom: 1px solid $border-color;
    }

    .upcoming-events-post {
      width: 220px;
      padding: 24px;
      height: 100%;

      &:first-of-type {
        padding-left: 0;
      }

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .img-wrapper {
          min-height: 200px;
          max-height: 200px;

          .content-object {
            height: auto;
            padding-bottom: 30px;
          }
        }

        .content-heading {
          a {
            color: $black;
            font-size: 24px;
          }
        }

        p {
          font-size: 16px;
          color: darken( $light, 47.45);
        }
      }
    }
  }
}
