.event-preview-wrapper {
  width: 300px;
  box-shadow: 0 6px 18px #0000001a;

  .labels {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px solid $text-dark;

    .date-label, .type-label {
      color: $text-dark;
      margin: 0;
      font-weight: 600;
      letter-spacing: 0.2px;
    }
  }

  .header-wrapper {
    padding: 6px 16px;
    height: 275px;
    position: relative;
    display: flex;
    justify-content: center;

    img {
      height: min-content;
      transition: .5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .event-details {
    position: relative;
    padding: 16px;
    height: 250px;
    background: rgba($color-primary, 0.3);

    h3 {
      margin-top: 0;
      font-weight: 600;
      margin-bottom: 16px;
    }

    p {
      color: $text-dark;
    }

    a {
      position: absolute;
      bottom: 16px;
      padding: 8px 14px;
    }
  }

  &.small {
    width: auto;
    margin-bottom: 32px;
    
    .header-wrapper {
      height: 215px;
      padding: 16px;

      img {
        height: 100%;
      }
    }

    .event-details {
      height: 240px;
    }
  }
}