.header-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    &.get-started-cta {
        margin-bottom: 24px;
    }

    a {
        margin: 6px;
    }
}