.events-wrapper {
  padding: 80px 0;

  .block {
    .events-menu {
      text-align: center;

      .btn-group {
        label {
          display: inline-block;
          border: 1px solid $border-color;
          padding: 8px 25px;
          cursor: pointer;
          font-size: 15px;
          color: lighten($black, 20);
          outline: 0;
          background: $white;
          margin: 0 6px;
          border-radius: 0;
          @include transition (all, 0.3s, ease);

          &:hover {
            font-weight: bold;
            border: 1px solid lighten($black, 20);
          }
        }

        .btn {
          @include desktop {
            margin-bottom: 12px;
          }
        }

        .active {
          background-color: $color-primary;
          color: $white;
          border: 1px solid $color-primary;
        }

        &.justify-content-center {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }

    .shuffle-wrapper {
      .shuffle-item {
        margin-top: 48px;
      }
    }
  }
}

// Portfolio Single Page
.portfolio-single-page {
  .project-details {
    h4 {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px dashed $border-color;
    }

    span {
      color: lighten( $black, 51.3 );
      width: 180px;
      display: inline-block;
    }

    strong {
      color: lighten( $black, 19.2 );
      font-weight: normal;
    }

    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
}
