.service {
  text-align: center;
  padding: 90px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-item {
    padding-bottom: 30px;
    max-width: 75%;
    max-height: 200px;
    min-width: 50%;

    i {
      font-size: 50px;
      color: $color-primary;
    }

    h4 {
      padding-top: 15px;
      margin: 0;
      margin-top: 10px;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
  }
}

.dark-service {
  // background-color: $color-secondary;
  background-color: #202122;
  transition: all .2s ease-in-out;
  padding: 48px 0;

  .title {
    color: $white;
    font-size: 28px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .service-item {
    padding: 15px 0;
    text-align: center;

    img {
      max-width: 162px;
      height: 142px;
    }

    h4 {
      color: $white;
      padding-top: 15px;
      margin: 0;
      margin-top: 10px;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 16px;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.service-about {
  p {
    line-height: 28px;
  }
}

.service-arrow {
  .block {
    padding: 70px 30px;

    i {
      font-size: 40px;
    }

    p {
      color: $white;
    }
  }
}

.service-list {
  .block {
    padding: 30px;
    margin-bottom: 20px;
    background: $white;
  }
}
