.series-main {
  padding: 32px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column; 
    }
  }

  h2, h4 {
    margin: 0 0 16px;
    font-weight: bold;
  }

  h2 {
    font-size: 28px;
  }

  .series-preview {
    order: 1;
    padding-right: 24px;

    @include tablet {
      order: 2;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .later-events {
      margin-bottom: 6px;

      a {
        font-size: 15px;

        &:hover {
          text-decoration: underline;
        }
      }

      @include mobile {
        text-align: center;
      }
    }
  }

  .series-latest-news {
    order: 2;
    max-width: 500px;
    padding: 0 12px;

    @include desktop {
      max-width: 425px;
    }

    @include tablet {
      order: 1;
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .series-links {
    order: 3;
    padding-left: 12px;
    width: 18%;
    text-align: right;
    margin-bottom: 6px;

    ul.info {
      margin-bottom: 16px;
    }

    a {
      font-size: 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    @include desktop {
      text-align: left;
      padding: 0;
      margin-top: 24px;
      width: initial;
    }

    @include tablet {
      margin-top: 0;
      margin-right: auto;
      margin-left: 24px;
    }

    @include mobile {
      margin-left: auto;
      margin-top: 24px;
      text-align: center;
    }
  }
}
