{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.get_started }}
{{ if .enable }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img class="img-responsive" src="{{ .image | relURL }}">
        </div>
      </div>
      <div class="col-md-6 intro-text">
        {{ with .title }}<h2 class="intro-title">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        {{ with .button }}
        {{ if .enable }}
          <a href="{{ .link | relURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        {{ end }}
        {{ end }}
        {{ with .button_secondary }}
        {{ if .enable }}
          <a target="_blank" href="{{ .link | safeURL }}" class="btn btn-small mt-20">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <!-- <div class="row counter-box text-center mt-50">
      {{ range .funfacts }}
      <div class="col-md-2">
        <div class="counter-item">
          {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
          {{ with .count }}<h4 class="count" data-count="{{ . }}">0</h4>{{ end }}
          {{ with .name }}<span>{{ . }}</span>{{ end }}
        </div>
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.features }}
{{ if .enable }}
<section class="about-feature section">
  <div class="container">
    {{ with .title }}
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">{{ . | markdownify }}</h2>
      </div>
    </div>
    {{ end }}
    <div class="row about-list-items">
      {{ range .feature_item }}
      <div class="col-md-12">
        <div class="service-item item-wrapper">
          {{ with .logo }}<img src="{{ . | relURL }}" alt="test">{{ end }}
          <div class="item-content">
            <div>
              {{ with .name }}<h4>{{ . | markdownify }}</h4>{{ end }}
              {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
            </div>
            <a class="btn btn-small mt-20" href="{{ .link | safeURL }}">Go to the {{ .name }} Hub to learn more</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- <section class="testimonial section-sm">
  <div class="container">
    <div class="row">
      <h2>Resources to Go Here</h2>
      {{ if .Params.testimonial.enable }}
      {{ with .GetPage "/" }}
      <div class="col-md-6">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .Params.funfacts.testimonial_slider }}
            <div>
              <i class="fas fa-quote-left"></i>
              {{ with .content }}<p>"{{ . | markdownify }}"</p>{{ end }}
              <div class="user">
                {{ with .image }}<img src="{{ . | relURL }}" alt="client">{{ end }}
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.mission_vision }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            {{ range $index, $elements := .tabs }}
            <li {{ if eq $index 0 }} class="active" {{ end }}><a href="#{{ .name | urlize }}"
                data-toggle="tab">{{ .name }}</a></li>
            {{ end }}
          </ul>
          <div class="tab-content">
            {{ range $index, $elements := .tabs }}
            <div id="{{ .name | urlize }}" class="tab-pane fade {{ if eq $index 0 }} active in {{ end }}">
              {{ .content | $.Page.RenderString (dict "display" "block") }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div> 
</section> -->

{{ if .Params.cta_contact.enable }}
{{ partial "contact-cta.html" }}
{{ end }}
{{ end }}
