{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm event-details-section">
  <div class="container">
    <div class="row">
      <h2>{{.Title}}</h2>
      <div class="col-md-8 event-flyer-img">

        <div class="post-thumb">
          {{if .Params.flyer }}
          {{ with .Params.flyer -}}
          <img class="img-responsive" src="{{ . | relURL }}" alt="{{ $.Title }}">
          {{- end }}
          {{ else }}
          {{ with .Params.preview_image -}}
          <img class="img-responsive" src="{{ . | relURL }}" alt="{{ $.Title }}">
          {{- end }}
          {{ end }}
        </div>
      </div>

      <div class="col-md-4 event-matter project-details">
        <h4 class="event-matter-header">Event Details</h4>
        <ul>
          {{ with .Params.Club -}}
          <li><span>Hosting Club:</span> <a href="{{ `clubs/` | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
          {{ end }}
          <li><span>Date:</span> <strong>{{ .Params.event_datetime }}</strong></li>
          <li><span>Location:</span> <strong>{{ .Params.Location }}</strong></li>
          <li><span>Event Series:</span> <strong>{{ .Params.Event_Series }}</strong></li>
          {{if .Params.event_format}}
          <li><span>Event Format:</span> <strong>{{ .Params.Event_Format }}</strong></li>
          {{end}}
          <li><span>Closed Course:</span> <strong>{{ .Params.Closed_Course }}</strong></li>
          <li><span>Gate Fee:</span> <strong>{{ .Params.Gate_Fee }}</strong></li>

          <!-- Sign up link is dependent on event series value -->
          {{if (in .Params.Event_Series "Enduro")}}
          <li><span>Event Entry:</span> <strong><a href="https://www.moto-tally.com/ECEA/Enduro/">Click Here to
                Enter</a></strong></li>
          {{ else if (in .Params.Event_Series "Hare" ) }}
          <li><span>Event Entry:</span> <strong><a href="https://www.moto-tally.com/ECEA/ECEA/">Click Here to
                Enter</a></strong></li>
          {{ else }}
          <li><span>Event Entry:</span> <strong><a href="https://www.moto-tally.com/ECEA/ECEA_PWY">Click Here to
                Enter</a></strong></li>
          {{ end }} 
          
          {{ range .Params.attachments }}
          <li><span>{{ .label }} :</span> <strong><a href="{{ `attachments/` | relLangURL}}{{ .src | urlize}}">Open
                file</a></strong></li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="event-description">

  <div class="container">
    <h3>Event Description:</h3>
    {{ .Content }}
  </div>
</section>

{{end}}
