<div class="latest-news-wrapper">
  <h2 class="latest-news-title">Latest News</h2>
  <div class="row">
    {{ range first 3 (where site.RegularPages "Section" "==" "blog")}}
    <section class="new-post col-md-3 col-sm-12">
      <div class="media">
        <a class="pull-left" href="{{ .RelPermalink }}">
          {{ if isset .Params "image" }}
          <img class="media-object" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
          {{ end }}
        </a>
      </div>
      <div class="media-body">
        <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <ul>
          <li><i class="fas fa-calendar-week"></i> {{ time.Format ":date_long" .PublishDate }}</li>
          <li><i class="fas fa-user"></i>
            {{ i18n "posted_by" }}
            {{ $authors := slice }}{{ if reflect.IsSlice .Params.author }}{{ $authors = .Params.author }}{{ else }}{{
            $authors = (slice .Params.author) }}{{ end -}}
            {{ range $index, $elements := $authors }}{{ if ne $index 0 }}, {{ end }}<a class="text-primary"
              href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
          </li>
          <li><i class="fas fa-tags"></i>
            {{ range $index, $elements:= .Params.tags }}{{ if ne $index 0 }}, {{ end }}<a
              href="{{ `tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
          </li>
        </ul>
        <div class="media-summary">
          <p>{{ .Summary }}</p>
          <a href="{{ .RelPermalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
        </div>
      </div>
    </section>
    {{ end }}
  </div>
</div>
