<div class="event-preview-wrapper">
  <div class="labels">
    <p class="date-label">{{ .Params.event_date }}</p>
    <p class="type-label">{{ .Params.type }}</p>
  </div>
  <a href="{{ .RelPermalink }}" class="single-event-link">
    <div class="header-wrapper">
      <img class="media-object" src="{{ .Params.preview_image | relURL }}" alt="{{ .Title }}">
    </div>
  </a>
  <div class="event-details">
    <h3>{{ .Params.title }}</h3>
    <p>{{ .Params.club }}</p>
    <p>{{ .Params.event_date }}</p>
    <p>{{ .Params.description }}</p>
    <a class="btn btn-main" href="{{ .RelPermalink }}">More info...</a>
  </div>
</div>
