<div class="upcoming-events-wrapper">
  <div class="row">
    <section>
      {{ range first 1 ( where (where site.RegularPages "Type" "event") "Params.event_type" "==" "Enduro" )}}
        <p>{{.Params.Title}}</p>
      {{end}}
    </section>
    <section>
      {{ range first 1 ( where (where site.RegularPages "Type" "event") "Params.event_type" "==" "Hare Scramble" )}}
        <p>{{.Params.Title}}</p>
      {{end}}
    </section>
    <section>
      {{ range first 1 ( where (where site.RegularPages "Type" "event") "Params.event_type" "==" "FastKIDZ" )}}
        <p>{{.Params.Title}}</p>
      {{end}}
    </section>
    <section>
      {{ range first 1 ( where (where site.RegularPages "Type" "event") "Params.event_type" "==" "Dual Sport" )}}
        <p>{{.Params.Title}}</p>
      {{end}}
    </section>
  </div>
</div>
