<div class={{ .wrapperClass }}>
  <div class="labels" id={{ .context.Params.event_type }}>
    <p class="date-label">{{ .context.Params.event_datetime | time.Format ":date_long" }}</p>
    <p class="type-label">{{ .context.Params.event_type }}</p>
  </div>
  <a href="{{ .context.RelPermalink }}" class="single-event-link">
    <div class="header-wrapper">
      <img class="media-object" src="{{ .context.Params.preview_image | relURL }}" alt="{{ .context.Title }}">
    </div>
  </a>
  <div class="event-details">
    <h3>{{ .context.Params.title }}</h3>
    <p>Hosting Club: {{ range .context.Params.club}} {{ . }} {{ end }}</p>
    {{ if .context.Params.key_time }}<p>Key Time: {{ .context.Params.key_time | time.Format ":time_short"}}</p> {{ end }}
    <p>{{ .context.Params.description }}</p>
    <a class="btn btn-main" href="{{ .context.RelPermalink }}">More info...</a>
  </div>
</div>