{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="series-main container">
  <div class="row">
    {{ $currentPage := .Params.Title }}
    <!-- upcoming events -->
    <div class="series-preview col-md-4">
      <h2>Upcoming Events:</h2>
      <ul>
        {{range first 3 ( sort ( where (where site.RegularPages "Type" "events") "Params.event_type" "==" $currentPage ) ".Params.event_datetime" )}}
        <li>{{ partial "event-preview.html" . }}</li>
        {{ end }}

        {{range after 3 ( sort ( where (where site.RegularPages "Type" "events") "Params.event_type" "==" $currentPage ) ".Params.event_datetime" )}}
        <li><a href="{{ .RelPermalink }}">{{ .Params.event_datetime | time.Format ":date_short"}} {{ .Params.title }}</a></li>      
        {{ end }}
      </ul>
      
    </div>

    <!-- series blog -->
    <div class="series-latest-news col-md-6">
      <h2>Latest News:</h2>
      {{ partial "blog-latest-posts-series-page.html" . }}
    </div>

    <!-- series links/faq -->
    <div class="series-links col-md-2">
      <h4>Information:</h4>
      <ul>
        {{ range .Params.information }}
        <li><a href="{{.link}}">{{.label}}</a></li>
        {{ end }}
        </ul>
      <h4>Important Documents:</h4>
      <ul>
      {{ range .Params.documents }}
        <li><a href="{{ `documents/` | relLangURL}}{{ .src | urlize}}">{{.label}}</a></li>
      {{ end }}
        </ul>
    </div>

  </div>
</section>

{{ end }}
