{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="series-main container">
  <div class="row">
    <div class="series-preview col-sm-4">
      <header>Upcoming Events:</header>
      <p> events here </p>
    </div>
    <div class="series-latest-news col-sm-4">
      <header>Latest News:</header>
      <p>news here</p>
    </div>
    <div class="series-links col-sm-4">
      <header>Links</header>
      <p>links here?</p>
    </div>
  </div>
</section>
<section class="series-info">

</section>

{{ end }}
