{{ define "main" }}

{{ partial "page-title.html" . }}
  <section class="series-main container">
    {{ $currentPage := .Params.Title }}
    <div class="wrapper">
      <!-- upcoming events -->
      <div class="series-preview">
        <h2>Upcoming Events</h2>
        <ul>
          {{range first 3 ( sort ( where (where site.RegularPages "Type" "events") "Params.event_type" "==" $currentPage ) ".Params.event_datetime" )}}
          <li>{{ partial "event-preview.html" (dict "context" . "wrapperClass" "event-preview-wrapper small") }}</li>
          {{ end }}

          {{range after 3 ( sort ( where (where site.RegularPages "Type" "events") "Params.event_type" "==" $currentPage ) ".Params.event_datetime" )}}
          <li class="later-events"><a href="{{ .RelPermalink }}">{{ .Params.event_datetime | time.Format ":date_short"}} {{ .Params.title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <!-- series blog -->
      <div class="series-latest-news">
        <h2>Latest {{.Params.Title}} News</h2>
        {{ partial "blog-latest-posts-series-page.html" . }}
      </div>
      <!-- series links/faq -->
      <div class="series-links">
        <h4>Information</h4>
        <ul class="info">
          {{ range .Params.information }}
          <li><a href="{{.link}}">{{.label}}</a></li>
          {{ end }}
          </ul>
        <h4>Important Documents:</h4>
        <ul>
          {{ range .Params.documents }}
            <li><a href="{{ .path | urlize}}">{{.label}}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
{{ end }}
